@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: black;
    color: #a7a6a6;

    /* Animation */
    animation: 1s ease-out 0s 1 fadeIn;
}

.mobileNavbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.562);
    overflow-x: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.mobileNavbar-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .mobileNavbar a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #d4d4d4;
    display: block;
    transition: 0.3s;
  }
  
  .mobileNavbar a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .mobileNavbar a.right {
    text-decoration: underline;
  }
  
  .mobileNavbar .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .mobileNavbar a {font-size: 20px}
    .mobileNavbar .closebtn {
    font-size: 36px;
    top: 15px;
    right: 35px;
    }
  }

  @media screen and (max-width: 800px) {
    .top-navigation a:not(:last-child) {display: none;}
    .top-navigation a.mobilenavbtn {
        float: right;
        display: block;
    }
  }

.top-navigation {
    overflow: hidden;
    background-color:rgba(19, 19, 24, 0.534);
    box-shadow: 0px 5px 10px rgba(5, 5, 5, 0.623);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    width: 100%;
}
.top-navigation a {
    float: left;
    display: block;
    color: rgba(209, 209, 209, 0.712);
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.25s;
    border-radius: 10px;
}

.top-navigation a:hover {
    background-color: rgba(54, 54, 54, 0.253);
    color: white;
    transition: 0.25s;
    border-radius: 10px;
}

.top-navigation a.active {
    text-decoration: underline;
    border-radius: 10px;
}

.top-navigation .mobilenavbtn {
    display: none;
}

.top-navigation a.right {
    float: right;
}

.bgvid {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.content-home-wrapper {
  padding-top: calc(100vmax /10);
  padding-bottom: calc(100vmax /10);

}