@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  #to-hide-when-small { display: none; }
  .spotify-embed {
    width: 85%;
  }
  .twitter-timeline {
    width: 65%;
  }
  .yt-embed {
    width: 85%;
  }
}
@media (max-width: 500px) {
  #topbar {
    margin-left: -5px;
    margin-right: -5px;
  }
}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    background-color: rgb(228, 227, 227);
    color: #1f1f1f;

    /* Animation */
    animation: 1s ease-out 0s 1 fadeIn;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(187, 187, 187, 0.418);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 6px 8px;
  margin: 7px;
  text-decoration: none;
  font-size: 12px;
  transition: 0.25s;
  border-radius: 10px;
  font-weight: 300;
  color: black;
}

.navbar a:hover {
  background-color: rgba(54, 54, 54, 0.253);
  transition: 0.25s;
  border-radius: 10px;
  color: black;
  text-decoration:underline;
}

.navbar a.active {
    text-decoration: underline;
    border-radius: 10px;
    color: black;
}

.navbar a.right {
  float: right;
}

.main {
  padding: 16px;
  margin-top: 40px;
  display:grid;
  justify-content: center;
}

.vertical {
  display: block;
  float: right;
  border-left: 1px solid black;
  height: 24px;
  padding: 6px 0px;
  margin: 7px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1, h2, span, p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.spotify-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.twitter-timeline {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.yt-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fancy-button {
  float: left;
  display: block;
  text-align: center;
  padding: 6px 8px;
  margin: 7px;
  text-decoration: none;
  font-size: 12px;
  transition: 0.25s;
  border-radius: 10px;
  font-weight: 300;
  color: black;
}

.fancy-button:hover {
  background-color: rgba(54, 54, 54, 0.253);
  transition: 0.25s;
  border-radius: 10px;
  color: black;
  text-decoration:underline;
}

.fancy-button.active {
    text-decoration: underline;
    border-radius: 10px;
    color: black;
}